body {
  font-family: "Poppins", serif;
  font-size: 16px;
  font-weight: 400;
}

.container {
  max-width: 1220px;
  margin: 0 auto 30px auto;
  padding: 0 10px;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: inherit;
}

.splash-screen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10000;
  opacity: 1;
  transition: opacity 1s ease-in-out;
}

.loading-message {
  color: white;
  font-size: 5rem;
  font-weight: 700;

  text-transform: uppercase;
  animation: loadingAnimation 2s ease-out forwards;
}

@keyframes loadingAnimation {
  0% {
    opacity: 0;
    transform: scale(0.5);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

.header {
  margin: 12px 0 70px 0;
  position: sticky;
  top: 0;
  z-index: 10;
  background-color: #fff;
  transition: all 0.3s ease;
}

.header.scrolled {
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
  background-color: #fff;
}

.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__link-item {
  transition: transform 0.2s ease;
}

.header__link-item:hover,
.footer__icon:hover {
  transform: scale(1.15);
}

.header__nav {
  display: flex;
  align-items: center;
  gap: 50px;
}

.menu__list {
  display: flex;
  gap: 30px;
  padding: 0;
}

.menu__list-item {
  position: relative;
  padding: 10px 0 10px;
  color: #666;
  font-size: 20px;
  font-weight: 500;
}

.menu__list-item::after {
  content: "";
  position: absolute;
  bottom: 5px;
  left: 0;
  width: 0%;
  height: 1.5px;
  background-color: #666;
  transition: width 0.3s ease;
}

.menu__list-item:hover::after {
  width: 100%;
}

.header__link {
  display: flex;
  align-items: center;
  gap: 10px;
}

.info {
  margin-bottom: 300px;
}

.info__inner {
  display: flex;
  justify-content: space-between;
  position: relative;
}

.anchor {
  top: 440px;
  right: 880px;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  font-weight: 600;
  border-radius: 50px;
  border: 2px solid #282a56;
  padding: 24px 70px 23px;
  overflow: hidden;
  position: absolute;
  transition: all 0.3s ease;
}

.anchor:hover {
  transform: scale(0.95);
}

.button a::before {
  position: absolute;
  content: "";
  z-index: 0;
  background-color: #282a56;
  left: -5px;
  right: -5px;
  bottom: -5px;
  height: 111%;
  transition: all 0.3s ease;
}

.button a:hover::before {
  height: 8%;
}

.button span {
  position: relative;
  z-index: 2;
  transition: all 0.3s ease;
}

.myphoto {
  border-radius: 40px;
  max-width: 349px;
  border: #42446e 1px solid;
  box-shadow: 15px 10px 30px 0 rgba(63, 63, 63, 0.804);
}

.info-title {
  font-weight: 700;
  font-size: 58px;
  line-height: 121%;
  letter-spacing: -0.02em;
  color: #42446e;
  width: 500px;
}

.gradient {
  background: linear-gradient(90deg, #13b0f5 2.6%, #e70faa 100%);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.info-title {
  span {
    background: linear-gradient(90deg, #13b0f5 2.6%, #e70faa 100%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}

.about {
  margin-bottom: 200px;
}

.about__info {
  justify-self: center;
}

.about__title {
  font-weight: 700;
  font-size: 48px;
  text-align: center;
  line-height: 124%;
  letter-spacing: -0.01em;
  color: #42446e;
}

.about__subtitle {
  font-size: 32px;

  line-height: 140%;
}

.about__text {
  max-width: 920px;
  font-size: 18px;
  line-height: 144%;
  color: #666;
  position: relative;
  margin: 0;
}

.about__text::before {
  content: "";
  position: absolute;
  left: -14px;
  top: 0;
  bottom: 0;
  width: 4px;
  border-radius: 10px;
  background-color: #42446e;
}

.stack {
  margin-bottom: 215px;
}

.stack__title {
  font-weight: 700;
  font-size: 48px;
  line-height: 54%;
  text-align: center;
  color: #42446e;
  margin: 0 0 50px 0;
}

.stack__text {
  font-size: 32px;
  line-height: 81%;
  text-align: center;
  color: #666;
  margin: 0 0 140px 0;
}

.stack__img {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  row-gap: 78px;
  column-gap: 70px;
  align-items: center;
  img {
    justify-self: center;
    height: 120px;
  }
}

.inner__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: -15px -15px 100px hsla(0, 0%, 100%, 1),
    15px 15px 8px rgba(0, 0, 0, 0.15), -5px -5px 15px rgba(0, 0, 0, 0.1),
    5px 5px 10px rgba(0, 0, 0, 0.05);
  transition: all 0.3s ease;
  border-radius: 20px;
  height: 100%;
}
.stack__inner {
  opacity: 0;
  transform: translateY(100px);
  transition: opacity 1s ease, transform 1s ease;
}

.stack__inner.visible {
  opacity: 1;
  transform: translateY(0);
}

.stack__name {
  margin-bottom: 0;
  color: #42446e;
  font-size: 25px;
}

.inner__content:hover {
  box-shadow: -8px -8px 52px hsla(0, 0%, 100%, 0.447), 3px 3px 10px;
  transform: translate(3px, 8px);
}

.projects {
  margin-bottom: 205px;
}

.projects__title {
  font-weight: 700;
  font-size: 48px;
  line-height: 54%;
  text-align: center;
  color: #42446e;
  margin-bottom: 50px;
}

.projects__text {
  font-size: 32px;
  line-height: 81%;
  text-align: center;
  color: #666;
  margin-bottom: 95px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 50px;
}

.projects__carts {
  border-radius: 20px;
  box-shadow: 20px 20px 20px 0 rgba(0, 0, 0, 0.7);
  background: #fff;
  max-width: 373px;

  img {
    border-radius: 20px 20px 0 0;
    width: 100%;
  }
  opacity: 0;
  transform: translateY(100px);
  transition: opacity 1.5s ease, transform 1.5s ease;
}

.projects__carts.visible,
.contacts.visible {
  opacity: 1;
  transform: translateY(0);
}

.projects__carts-title {
  font-weight: 500;
  font-size: 28px;
  line-height: 93%;
  text-align: center;
  color: #000;
  margin: 27px 0 17px 0;
}

.projects__carts-text {
  line-height: 162%;
  color: #42446e;
  margin-bottom: 21px;
  text-align: center;
}

.projects__carts-links {
  display: flex;
  justify-content: space-around;
  line-height: 162%;

  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: #000;
  margin-bottom: 25px;
  position: relative;
}

.projects__carts-link-live:hover,
.projects__carts-link-github:hover {
  color: #5e0ff0;
}

.projects__carts-link-github::before {
  content: "";
  display: inline-flex;
  position: absolute;
  right: 135px;
  bottom: 3px;
  width: 20px;
  height: 20px;
  background: url(../icons/github-code.svg) no-repeat center center;
}

.projects__carts-link-live::before {
  content: "";
  display: inline-flex;
  position: absolute;
  left: 25px;
  bottom: 3px;
  width: 20px;
  height: 20px;
  background: url(../icons/live.svg) no-repeat center center;
}

.footer__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}

.footer__menu {
  display: flex;
  align-items: center;
  gap: 100px;
}

.footer__menu-list {
  display: flex;
  gap: 33px;
  font-size: 18px;
  line-height: 144%;
  color: #42446e;
  text-decoration: underline;
}

.footer__icons {
  display: flex;
  align-items: center;
  gap: 10px;
}

.footer__icon {
  transition: transform 0.2s ease;
}

hr {
  margin: 0;
  height: 3px;
  background-color: #666;
  opacity: 0.3;
  margin-bottom: 30px;
}

.footer__nav {
  display: flex;
  justify-content: space-between;
  transition: transform 2.2s ease;
}

.footer-link:hover {
  color: #666;
}

.footer_text {
  display: inline;
  font-size: 18px;
  line-height: 144%;
  color: #666;
  margin-bottom: 600px;
}

.contacts {
  margin-bottom: 50px;
  opacity: 0;
  transform: translateY(100px);
  transition: opacity 1.5s ease, transform 1.5s ease;
}

.contacts__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 50px;
}

.contacts__title {
  font-weight: 700;
  font-size: 42px;
  line-height: 124%;
  letter-spacing: -0.01em;
  color: #42446e;
  margin: 0 0 0 20px;
}

.contacts__link {
  display: flex;
  gap: 10px;
  padding: 20px;
}
.contacts__link-icon {
  align-items: center;
  padding: 15px;
  border-radius: 50%;
  box-shadow: inset 1px 3px 10px rgba(0, 0, 0, 0.3),
    inset -3px -3px 10px rgba(255, 255, 255, 0.8);
  transition: all 0.2s ease;
}

.contacts__link-icon:hover {
  box-shadow: inset 0px 0px 2px rgba(0, 0, 0, 0.4),
    inset -0px -0px 2px rgba(255, 255, 255, 0.6);
  img {
    transition: all 0.2s ease;
    transform: scale(1.1);
  }
}

.contacts__text {
  display: flex;
  justify-content: space-between;
  font-size: 18px;
  line-height: 81%;
  margin: 0 20px 0 20px;
  color: #666;
}

.contacts__wrapper {
  padding: 15px;
  background-color: #fff;
  border-radius: 25px;
  box-shadow: 4px 4px 30px rgba(0, 0, 0, 0.2),
    -4px -4px 10px rgba(255, 255, 255, 0.5);
}

.burger {
  display: none;
  position: relative;
  z-index: 50;
  align-items: center;
  justify-content: flex-end;
  width: 30px;
  height: 18px;
}

.burger span {
  height: 2px;
  width: 80%;
  transform: scale(1);
  background-color: #000;
}

.burger::before,
.burger::after {
  content: "";
  position: absolute;
  height: 2px;
  width: 100%;
  background-color: #000;
  transition: all 0.3s ease 0s;
}

.burger::before {
  top: 0;
}
.burger::after {
  bottom: 0;
}

.burger.active span {
  transform: scale(0);
}

.burger.active::before {
  top: 50%;
  transform: rotate(45deg) translateY(-50%);
}

.burger.active::after {
  bottom: 50%;
  transform: rotate(-45deg) translateY(50%);
}
.burger.active span,
.burger.active::before,
.burger.active::after {
  background-color: #666;
}